.resizehadler {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 8px;
  cursor: col-resize;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHBAMAAADdS/HjAAAAGFBMVEUzMzP///9tbW1QUFCKiopBQUF8fHxfX1/IXlmXAAAAHUlEQVQImWMQEGAQFWUQFmYQF2cQEmIQE2MQEQEACy4BF67hpEwAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #e5e5e5;
}
.resizehandler-right {
  right: -5px;
}
.resizehandler-left {
  left: -5px;
}
.resizehadler:hover {
  background-color: #d5d5d5;
}
