.toolbar button.button {
  border: none;
  background-color: transparent;
  padding: 1px;
  margin: 3px;
  outline: none !important;
  height: auto;
  border: thin solid transparent;
}

.toolbar button.button:hover {
  border: thin solid #acabab;
}

.toolbar button.button i {
  font-size: 24px;
  line-height: 1;
  color: #c1c1c1;
  margin: 0;
  padding: 0;
  display: inline;
}

.toolbar button.button .icon {
  margin-left: 3px !important;
  padding-right: 10px;
  width: 1em;
}

.toolbar-split {
  width: 1px;
  height: 34px;
  background: #e5e5e5;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: -2px;
}

.toolbar .dropdown-content {
  border: 3px #eee solid;
  padding: 2px;
  border-radius: 0 !important;
}

.toolbar .dropdown-menu button {
  background-color: transparent;
  border: none;
}

.navbar-menu .navbar-dropdown {
  padding: 3px;
  border: 1px #eee solid;
  margin-top: 10px;
  border-radius: 0 !important;
  min-width: 260px;
  box-shadow: 2px 2px 3px #d5d5d5;
}
