@import "~bulma/css/bulma.css";
@import "~@mdi/font/css/materialdesignicons.min.css";
@import url("https://fonts.googleapis.com/css?family=Cinzel");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,500");

html,
body {
  background-color: #ebebeb;
  padding: 0 !important;
}

.application {
  display: flex;
  height: calc(100vh - 144px);
}

.app-panel {
  flex: 0 0 auto;

  position: relative;
  background: whiteSmoke;
  border-bottom: 1px solid #e5e5e5;
  height: calc(100vh - 144px);
}

// Scrollbar
::-webkit-scrollbar-button {
  display: none;
  height: 6px;
  width: 6px;
  border-radius: 10px;
  background-color: #aaa;
}
::-webkit-scrollbar-button:hover {
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #8c8c8c;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
}
::-webkit-scrollbar-track:hover {
  background-color: #ffffff;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
