.navbar-brand {
  background-color: #f4bf42;
}

.navbar-menu-wrapper {
  margin: 4px 0px 0px 10px;
}

.logo {
  width: 20px;
  height: 20px;
}
.logo-text {
  font-size: 1.3rem;
  font-family: "Cinzel", serif;
}

.app-name {
  color: #333;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  white-space: nowrap;
  font-size: 18px;
  padding: 2px 8px;
}
.app-name:hover {
  background-color: #eee;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.app-menu {
  margin: 0 0 2px 0;
}

.app-menu .navbar-item {
  padding: 6px 8px;
  font-size: 13px;
  font-family: Helvetica Neue, Helvetica, Arial Unicode MS, Arial;
  font-weight: 500;
  margin-right: 8px;
}
.app-menu .navbar-item.has-dropdown {
  padding: 0;
}
.app-menu .navbar-item.has-dropdown > .navbar-link {
  padding: 6px 8px;
  font-size: 13px;
  font-family: Helvetica Neue, Helvetica, Arial Unicode MS, Arial;
  font-weight: 500;
}
.app-menu .navbar-link:after {
  border: none;
}
.app-menu .navbar-item:hover,
.app-menu .navbar-link:hover {
  background-color: #eee;
}

.app-menu button {
  border: none;
  background: transparent;
}

.app-menu .navbar-dropdown button {
  display: block;
  width: 100%;
  text-align: left;
  font-family: Helvetica Neue, Helvetica, Arial Unicode MS, Arial;
  font-size: 10pt;
  padding: 7px 30px 7px 20px;
}
.app-menu .navbar-dropdown button .icon i {
  font-size: 15px;
  margin-right: 15px;
}
.app-menu button:focus {
  outline: none;
}
