.toolbar {
  padding-left: 56px;
  background-color: whitesmoke;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  display: flex;
}
.toolbar button.dropdown-item {
  display: block;
  width: 100%;
  text-align: left;
}
.toolbar button.dropdown-item:hover {
  background-color: #eee;
}

.toolbar button:focus {
  outline: none;
  
}
